<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" href="/css/submenu.css">
</head>
<div th:replace="~{components :: navbar}"></div>
<body>
<div class="container">

    <p th:if="${successMessage}" th:text="${successMessage}" class="success message"></p>
    <h2>Reset Password</h2>
    <form action="/settings/reset-password" method="post" th:object="${accountDTO}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{email}"/>
        <label>Current Password:</label>
        <input type="password" name="currentPassword" required />
        <p th:if="${incorrectPasswordError}" th:text="${incorrectPasswordError}" class="error message"></p>

        <label>New Password:</label>
        <input type="password" th:field="*{password}" required />
        <span class="message error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        <label>Confirm New Password:</label>
        <input type="password" name="newPasswordConfirm" required />
        <p th:if="${notMatchingError}" th:text="${notMatchingError}" class="error message"></p>

        <button type="submit">Reset Password</button>
    </form>

    <a class="btn" href="/settings">Back to Settings</a>
</div>
</body>
</html>